h1 {
  text-align: center;
}

.single_news {
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(96, 96, 252);

}

.loader{
  text-align: center;
  font-size: large;
}

#instruments{
  text-align:center;
}

.about{
  text-align: center;
}

.news_list{
  margin-top: 5%;
}

.inner_img{
  height: 50%;
  width: 50%;
}

.left_col {
  vertical-align: top;
  width: 10px;
}

.inner_text {
  overflow: hidden;
}

.single_news .small_img {
  max-height: 150px;
  max-width: 150px;
  float: left;
  object-fit: contain;
  padding: 10px 10px 10px 10px;
}